/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    box-sizing:border-box;  
  }
  
  button, summary {
      cursor: pointer;
  }
  
  
  
  
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
      /* startje */
      --color-text:rgb(0, 0, 0);
      --color-background:#f9f6ef;
      --font-family: 'basisFontRegular', Arial,sans-serif;
  }
  
  @font-face {
      font-family: 'basisFontRegular';
      src: url('fonts/BasisGrotesqueMonoPro-Regular.woff2') format('woff2'), 
      url('fonts/BasisGrotesqueMonoPro-Regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }
  
  
  
  /****************/
  /* JOUW STYLING */
  /****************/
  
  /* jouw code */
  
  body {
      display : grid;
      justify-content: center;
    color:var(--color-text);
    background-color:var(--color-background);
    margin: 4em auto;
    font-family: var(--font-family);
  }
  
  header {
      width: calc(5 * 4em + 2px);
  }
  
  header nav ul {
      list-style: none;
      display: flex;
      padding: 0;
      margin: 0;
      padding-top: 2em;
      padding-left: 10em;
      position: absolute;
      visibility: hidden;
  }
  
  header nav ul li {
      padding-right: 2em;
  }
  
  header nav ul li:hover {
      text-decoration: underline;
  }
  
  header nav ul li a {
      text-decoration: none;
      color: var(--color-text);
  }
  header nav {
      display: flex;
      justify-content: space-between;
  }
  
  header nav section button:nth-of-type(1):hover {
      text-decoration: underline;
  }
  
  header nav section button:nth-of-type(2) {
      text-decoration: underline;
  }
  
  header nav section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0.2em;
      height: 5em;
  }
  header nav section button {
      border: none;
      background-color: transparent;
      font-size: .875em;
      padding: 0;
      margin: 0;
      font-weight: normal;
      height: 1em;
  }
  
  header nav section button:last-child {
      grid-column-start: span 2;
      display: flex;
      align-items: center;
      gap: 0.2em;
  }
  
  header nav section button:last-child::after {
      content: "+";
      font-size: 1.5em;
      font-family: 'Times New Roman', Times, serif;
      font-weight: lighter;
  }
  
  
  /* 5 bij 4 vierkant */
  main {
  
      position: relative;
      margin-top: 3em;
      width: calc(5 * 4em + 2.5px);
      height: calc(14 * 4em + 2.5px);
      background-image: 
      repeating-linear-gradient(to bottom, black 0px 2.5px, transparent 2px 4em),
      repeating-linear-gradient(to right, black 0px 2.5px, transparent 2px 4em);
  }
  
  main h2:nth-of-type(2) {
    visibility: hidden;
  }

  main p {
    margin-top: calc(2 * 4em + 27px);
    padding-top: calc(1 * 4em);
    padding-bottom: calc(1.6 * 4em + 5px);
    position: absolute;
    background-color: var(--color-background);
    font-size: 13px;
  }

  main h1 {
      position: absolute;
      left: 0;
      right: 0;
  
      height:calc(1 * 3.98rem + 2px);
      width:calc(4 * 4rem + 2px);
      margin:0;
  
      background-color: var(--color-background);
      box-shadow: inset 0 0 0 2px black;
  
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: lighter;
      font-size: 2em;
      
  }
  main h2 {
    margin: 0;
    position: absolute;
    visibility: hidden;
    font-size: 2.5em;
  }
  
  main img {
    position: absolute;
    width: 50%;
    top: calc(9 * 3em + 2px);
    background-color: var(--color-background);
    padding-top: calc(1 * 3em);
    padding-right: calc(0.5 * 3em);
    visibility: hidden;
  }
  main ul {
      list-style: none;
      padding: 0;
      max-height: 0;
      display: none;
      
  
      position: absolute;
      z-index: 1;
  
      margin: 0;
      inset: 0;
      background-color: var(--color-background);
  }
  
  main ul.open {
      display: block;
  }
  
  main ul li:hover {
      text-decoration: underline;
  }
  
  main ul li a {
      text-decoration: none;
      font-family: var(--font-family);
      color:var(--color-text);
      font-size: 15px;
      display: block;
      background-color: var(--color-background);
      padding: 1em;
      border-style: solid;
      border-width: 2px 2px 0;
      border-color: black;
  }
  
  main ul li:nth-of-type(6) a {
      border-bottom-width: 2px;
  }
  
  /*footer*/
  footer {
      text-align: center;
      width: calc(5 * 4em + 2px);
      margin-top: 0.5em;
  }
  
  footer a:hover {
      text-decoration: underline;
  }
  
  footer ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0;
  
  }
  footer ul li {
      list-style: none;
  }
  
  footer ul li a {
      color: var(--color-text);
      text-decoration: none;
      font-size: 11px;
  }
  
  @media (min-width:46em) {
      header nav a {
          transform: translateY(5em);
          background-color: var(--color-background);
          display: block;
          z-index: 999;
          padding-right: 2.1em;
          padding-bottom: 2.5em;
          margin-bottom: -2.5em;
      }
      
      main {
          width: calc(12 * 3em + 2.5px);
          height: calc(24 * 3em + 2.5px);
          background-image: 
          repeating-linear-gradient(to bottom, black 0px 2.5px, transparent 2px 3em),
          repeating-linear-gradient(to right, black 0px 2.5px, transparent 2px 3em);
          margin-top: 1.5em;
      }
      main p {
        width: calc(12 * 3em + 8px);
        margin-left: calc(1 * 3em + 12px);
        margin-top: calc(7 * 3em + 18px);
        padding-top: calc(1 * 3em + 8px);
        padding-bottom: calc(5.5 * 3em + 8px);
        padding-right: calc(2 * 3em);
        padding-left: calc(2 * 3em);
      }
      main h1 {
          height:calc(2 * 2.98rem + 2px);
          width:calc(8 * 3rem + 2px);
          left: calc(3 * 3rem);
          top: calc(1 * 3rem);
          font-size: 4em;
      }
      main h2 {
        height: calc(2 * 2.91rem);
        width: calc(5 * 3rem +2px);
        left: calc(1 * 3rem + 2px);
        top: calc(3 * 3rem + 3px);
        padding-left: 0.3em;
        padding-right: 0.22em;
        visibility: visible;
        position: absolute;
        background-color: var(--color-background);
        font-weight: lighter;
      }
      main ul {
          width: calc(5 * 3rem + 1px);
          left: calc(7 * 3rem);
          top: calc(1 * 3rem);
      }
      main ul li a {
          font-size: 14.5px;
      }
      header {
          width: calc(12 * 3em + 2px);
      }
      header nav {
          align-items: flex-end;
      }
      header nav section {
          display: flex;
          align-items: flex-end;
      }
      header nav section button {
          padding-left: 1em;
      }
      footer {
          width: calc(12 * 3em + 2px);
          margin-top: 8em;
      }
      footer ul {
          display: flex;
          justify-content: center;
      }
      footer ul li {
          padding-left: 1em;
  
      }
  }
  
  @media (min-width: 65em) {
      main {
          width: calc(16 * 3em + 2.5px);
          height: calc(24 * 3em + 2.5px);
      }
      main ul {
          left: calc(11 * 3rem);
      }
      main h1 {
          height:calc(2 * 2.98rem + 2px);
          width:calc(8 * 3rem + 2px);
          left: calc(6 * 3rem);
          top: calc(1 * 3rem);
          font-size: 4em;
      }
      header {
          width: calc(16 * 3em + 2px);
      }
      footer {
          width: calc(16 * 3em + 2px);
          margin-top: 8em;
      }
  }
  
  @media (min-width: 76em) {
      body {
          margin: 1em auto;
      }
      header nav a {
          margin-bottom: -1em;
      }
      header {
          width: calc(20 * 3em + 2px);
      }
      header nav ul {
          visibility: visible;
      }
      header nav {
          align-items: flex-start;
      }
      header nav section {
          align-items: flex-start;
      }
      main h2:nth-of-type(1) {
        visibility: hidden;
      }
      main h2:nth-of-type(2) {
        visibility: visible;
        height: calc(3 * 2.94rem);
        font-size: 2em;
        padding-top: 0.5em;
        top: calc(4 * 3rem + 3px);
      }
      main {
          width: calc(20 * 3em + 2.5px);
          height: calc(21 * 3em + 2.5px);
          margin-top: 0;
      }
      main h1 {
          left: calc(9 * 3rem);
      }
      main p {
        width: calc(9.7 * 3em + 3px);
        margin-left: calc(13.6 * 3em);
        margin-top: calc(5 * 3em);
        padding-bottom: calc(2 * 3em);
      }
      main img {
        visibility: visible;
      }
      footer {
          width: calc(20 * 3em + 2px);
          margin-top: 20em;
      }
  }